:root {
  --white: #FFFFFF;
  --black: #000000;
  --very-light-pink: #383838;
  --text-input-field: #dfdede;
  --hospital-green: #0077DC;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

form {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.invoice__form{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr ;
    gap: 8px;

    
}
.invoice__form__button{
    display: grid;
    grid-template-columns: 3fr 1fr ;
    gap: 8px;
}
.details{
    margin-top: 16px;
}
.greenhouse__details{
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}