:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #383838;
    --text-input-field: #dfdede;
    --hospital-green: #0077DC;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }
  body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
  }
/*Block greenhouse */
  .invoicenew__greenhouse{
    display: flex;
    flex-direction: column;
  }

  .invoiceNew__span{
    color: #000000;
    font-weight: bold;
  }
  .invoiceNew__spannotfound{
    color:rgb(128, 128, 128);   
    font-size: 14px; 
  }
  .invoice__greenhouse__search{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 9px;
    gap:10px
  }
  
  .invoice__greenhouse__search button{
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    border:1px solid #0077DC;
    border-radius: 4px;
    background-color:white;
  }
  .invoice__searchGreenhouse{
    width: auto;
  }

  .invoice__greenhouse__searchimg{
    width: 20px;
    height: 20px;
  }
  .invoice__greenhouse__search{    
    background-color: var(--white);   
    width: 35px;
    cursor: pointer;
    font-size: var(--md);    
    height: 35px;
    }



.invoice__next{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

    
}

.invoice__next button{
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  border:1px solid #0077DC;
  border-radius: 4px;
}
.invoice__pay__button{
  background-color: var(--white);
  border-radius: 8px;
  border: solid;
  border-color: var(--hospital-green);    
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 35px;
  width: 175px;
}