:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #383838;
    --text-input-field: #dfdede;
    --hospital-green: #0077DC;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }
.invoice-page-container{
    display: flex;
    justify-content: center;
}

.newInvoice{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    
}
.newInvoice__button{
height: 32px;
    
}
.invoice-page{  
    margin-top: 24px;
    padding: 20px;
    width: 60vw;  
    background-color: #eeeeee; 
    
}
.invoice-form{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
.invoice-form-uno{
    display: flex;
    flex-direction: column;
}
.invoice-form-dos{
    display: flex;
    flex-direction: column;
}
.invoice-container{   
    display: flex;
    flex-direction: column;
    justify-content:flex-end;    
}
.button-container input{
    
    background-color: white;
    border: none;
    border-radius: 8px;
    height: 20px;
    font-size: var(--md);
    padding: 6px;
    margin: 5px 5px;
    
}

.button-new-invoice {
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid;
    border-color: var(--hospital-green);    
    width: 110px;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 40px;
  }
