:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #383838;
    --text-input-field: #000000;
    --hospital-green: #0077DC;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }
.product-page-container{
    display: flex;
    justify-content: center;
}

.product-page{  
    margin-top: 24px;
    padding: 20px;
    width: 70vw;  
    background-color: #eeeeee; 
    height: 500px;
    
}

.product-page-tittle{
    color: #000000;


}




.button-container{   
    display: flex;
    justify-content:flex-end; 
    
}



.button-container input{
    
    background-color: white;
    border: none;
    border-radius: 8px;
    height: 20px;
    font-size: var(--md);
    padding: 6px;
    margin: 5px 5px;
    
}
.combobox-container input{
    
    display: flex;
    background-color: white;
    border: none;
    border-radius: 2px;
    height: 30px;
    font-size: var(--md);
    padding: 5px;
    
}
.combobox-container__autocomplete {
    padding: .5rem;
       
}


.button-new-product {
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid;
    border-color: var(--hospital-green);    
    width: 110px;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 40px;
}


.modal__button__close__x {

    width: 25px;
    height: 25px;
    background-color: #ffffff;
    color: #000000;
    border-color: #eeeeee;
    margin-bottom: 1rem ;
    justify-content: flex-end;
}
