.toPrinter{
    display: grid;
    place-items: center;
}

.pdf__invoice{
    display: flex;
    flex-direction: column;
    width: 550px;
    border: 1px solid #C00;
    justify-content: center;
    margin-left: 20px;
    margin-top: 20px;
    
}
.pdf__options{
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 16px;
}
.pdf__invoice p{
    margin: 0;
  font-size: 12px;
}

.pdf__invoice span{
    font-size: 10px;
    color: black;
}
.pdf__header{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

.pdf__header img{
    width: 30px;
    height: 30px;
    padding-left: 4px;
    padding-top: 4px;
}

.pdf__headerAddress{
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
    padding-right: 20px;
}
.pdf__headerAddress p{
font-size: 10px;

}
.pdf__greenhouse{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4px 8px;
}
.pdf__tittlegreenhouse{
    background-color: grey;
    color:aliceblue;
    grid-area: 1/1/2/3
}
.pdf__rx{
    display: grid;
    grid-template-columns:  repeat(8, 1fr);
    padding: 4px 8px;
}


.pdf__material{
    display: grid;
    grid-template-columns:  repeat(5, 1fr); 
    padding: 4px 8px; 
}
.pdf__material p{
    display: flex;
    flex-direction: column;
}

.pdf__material p span:first-child, 
.pdf__bifocal p span:first-child,
.pdf__armazon p span:first-child,
.pdf__pay > p:nth-child(-n+2) > span:first-child,
.pdf__paydetail > span, 
.pdf__rx span:nth-child(-n+9),
.pdf__rx span:nth-child(17)
{
    background-color: grey;
    color: white;
 }

.pdf__bifocal{
    display: grid;
    grid-template-columns:  1fr 3fr 1fr 1fr;   
    padding: 4px 8px;
}
.pdf__bifocal p{
    display: flex;
    flex-direction: column;  
}

.pdf__armazon{
    display: grid;
    grid-template-columns:  3fr 1fr 1fr 1fr 1fr;     
    padding: 4px 8px;   
}
.pdf__armazon p{
    display: flex;
    flex-direction: column;  
}

.pdf__rx span,
.pdf__material span, 
.pdf__armazon span, 
.pdf__pay span, 
.pdf__bifocal span{
    border: 1px solid rgb(110, 110, 110);
    padding-left: 2px;
    padding-right: 2px;
}
.pdf__pay{
    display: grid;
    grid-template-columns:    1fr 1fr 5fr;
    padding: 4px 8px;   
}
.pdf__pay p{
    display: flex;
    flex-direction: column;  
}
.pdf__paydetail{
    display: flex;
    flex-direction: column;
}
.pdf__paydetail p {
display: flex;
flex-direction: row;
}

.pdf__signature{
    display: grid;
    grid-template-columns:   1fr 1fr 2fr ; 
    padding: 4px 8px; 
}
.pdf__signature p{
    display: flex;
    flex-direction: column;
}
.pdf__signature > p:nth-child(3) > span{
 font-size: 8px;
}
/*Order*/
.pdf__signatureoptometra{
    display: grid;
    grid-template-columns:   3fr 1fr ; 
    padding: 4px 8px; 
    gap: 8px;
}
.pdf__signatureoptometra p {
    display: flex;
    flex-direction: column;    
}

