:root {
  --white: #FFFFFF;
  --black: #000000;
  --very-light-pink: #383838;
  --text-input-field: #dfdede;
  --hospital-green: #0077DC;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}
.modal {
  width: auto;
  height: auto;
  display: grid;
  place-items: center;
  background-color: #f8f8fa;
  border-radius: 9px;
  padding: 25px;
}
.modal__tittle{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  color: black;

}
.product__form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 80%;
  justify-content: space-between;
}
.modal__button__close{
  width: 25px;
  height: 25px;
  background-color: #0077DC;
  color: #dfdede;
}
.product__container {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  
  
}

.modal__formrow {
  display: flex;
  flex-direction: row;  
  
}

.modal__label {
  font-size: var(--sm);
  
  margin-bottom: 4px;
  color: #4b4b4b;
}
.modal__input {
  background-color: var(--text-input-field);
  border: none;
  border-radius: 4px;
  height: 24px;
  font-size: var(--md);
  padding: 6px;
  margin: 5px 5px;
}
.modal__input-name {
  margin-bottom: 16px;
}
.primary-button {
  background-color: var(--white);
  border-radius: 8px;
  border: solid;
  border-color: var(--hospital-green);    
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}
.modal__select{
height: 25px;  
}

@media (max-width: 640px) {
  .form-container {
    height: 100%;
  }
  .form {
    height: 100%;
    justify-content: space-between;
  }
}