:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #383838;
    --text-input-field: #dfdede;
    --hospital-green: #0077DC;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }
.table-page-container{
    display: flex;
    justify-content: center;
}

.table-user-page{  
    margin-top: 24px;
    padding: 15px;
    width: 70vw;  
    background-color: #eeeeee; 
    
}
.button-container{   
    display: flex;
    justify-content:flex-end; 
    padding-bottom: 20px;   
}
.button-container input{
    
    background-color: white;
    border: none;
    border-radius: 8px;
    height: 20px;
    font-size: var(--md);
    padding: 6px; 
    margin: 5px 5px;
    
}

.button-new-user {
    background-color:  #89bd61;
    color: #ffffff;
    border-radius: 12px;
    bottom: 1rem;
    border: 1px ;
    border-color: none ;    
    width: 110px;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 40px;
  }
